﻿body {
    overflow: auto;
    margin-bottom: 40px;
}

a {
    color: black;
}
    /* Unvisited link  */
    a:visited {
        color: black;
    }
    /* Visited link    */
    a:hover {
        color: black;
    }
    /* Mouse over link */
    a:active {
        color: black;
    }
/* Selected link   */

.map {
    width: 100%;
    height: 200px;
    z-index: 99;
}

.loading_image{
    width: 100px;
    height: 100px;
}

.wait {
    display:none;
    width:100px;height:100px;
    position:absolute;
    top:50%;
    left:50%;
    padding:2px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
textarea {
    max-width: 280px;
}

.menu_navbar{
    margin:0;
    padding:0;

}

.footer {
    position: fixed;
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 999;
}
 /*
.footer ul {
        display: inline;
        float: left;
        background-color: black;
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
}

.footer li:hover {
        background-color: darkgray;
        
}


.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}


.footer li {
        display: inline;
        margin-left: 100px;
}*/
 /*Region navbar*/
.menu_navbar li{
    display: inline;
}


.menu_navbar li:hover {
        background-color: darkgray;
        cursor: pointer;
}


.menu_navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 17px;
        text-decoration: none;
}

.menu_navbar ul {
        display: inline;
        float: left;
        background-color: black;
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
        width: 100%;
}
/*end navbar*/

/*Region event cards*/
.event_card_container {
    max-width: 301px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 40px;
    margin-top: 40px;
}
.event_card {
    max-width: 300px;
    text-align: center;
    float: left;
    border: 1px solid black;
}

.event_date {
    color: grey;
    font-size: 18px;
    float: left;
    margin-left: 5px;
}

.event_time {
    color: grey;
    font-size: 18px;
    float: right;
    margin-right: 5px;
}

.event_image {
    width:300px;
    max-width: 300px;
    height:200px;
    max-height: 200px;
    object-fit:cover;
}

.event_card_container:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: scale(1.1);
    cursor: pointer;

}

.event_card_price {
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.event_rating_average {
    display : block;
    color: orange;
}
/*endregion*/

/*region search main page*/

.event_search{
    width:100%;
    padding: 10px;
    margin-top:0;
    background-color:whitesmoke;
    display:inline-block;
}

.event_search_box {
    padding: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    text-align: center;
    max-width: 150px;
}


input[type=checkbox].search_checkbox {
    padding-top: 10px;
    float: left;
    cursor: pointer;
    width:20px;
    height:20px;
}

.event_search_unit_container {
    display: inline-block;
    height: 30px;
    margin-left: 10px;
    margin-top:4px;
    margin-bottom:4px;
    float: left;

}


.event_search_label{
    height: 25px;
    font-size: 15px;
    float:left;
    padding-top:5px;
    padding-right:2px;
    display: inline-block;
}

.search_image {
    float: left;
    height: 30px;
    font-size: 20px;
}

.search_image :hover {
    transform: scale(1.2);
    cursor: pointer;
}
/*endregion*/
/*region log in*/
.log_in_container {
    width:40%;
    border-radius: 8px;
    display: inline-block;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

@media only screen and (max-width: 600px) {
    .log_in_container{
        min-width: 300px;
        margin-left:5%;
        margin-right:5%;
    }
}

.log_in_text_box {
    border-radius: 5px;
    border: 1px solid #ccc;
    height:50px;
    width:100%;
    font-size:20px;

}

.input[type=radio].log_in_radio {
    border-radius: 5px;
    border: 1px solid #ccc;
    transform:scale(1.6);
    font-size: 20px;
    margin-left:10%;
    float: left;
}

.log_in_button {
    width: 100%;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size:22px;
}

.green_button{
    background-color: green;
}
.no_account_button {
    background-color: blue;
}

.no_account_button:hover {
    background-color:dodgerblue;
}


.green_button:hover{
    background-color:forestgreen;
}


.log_in_row{
    width:inherit;
    margin:inherit;
}

/*endregion*/

/*region event detail*/
.event_detail_container {
    width: 70%;
    min-width:350px;
    max-width: 900px;
    padding: 10px;
    display: block;
    text-align: center;
    float:left;
}

.ticket_reservation_container {
    width: 30%;
    min-width: 350px;
    padding: 10px;
    display: block;
    text-align: center;
    float: left;
}

.event_detail_image{
    width:100%;
    margin: auto;
    max-width: 900px;
    max-height:300px;
    object-fit:cover;
    display:inline-block;
}


.event_detail_comment_user{
    width: 80px;
    float: left;
    display: inline-block;
}

.event_detail_comment{
    padding: 5px;
    background-color:whitesmoke;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    overflow: auto;
}

.event_detail_comment_rating{
    color:orange;
}

.event_detail_average_rating{
    color: orange;
    font-size:20px;
}

.comment_input_form_element {
    height: 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    text-align: center;
}

.comment_input {
    width: 100%;
}

.comment_input_rating {
    width: 78%;
    min-width: 100px;
}

.comment_input_button {
    width: 20%;
    min-width: 60px;

}

.approve{
    background-color:green;
}
.deny{

    background-color: red;
}

button.comment_toggle_button:hover {
    opacity:0.7;
}

button.comment_toggle_button {
    width:70px;
    height: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
}

.event_detail_row {
    width: 100%;
    display: inline-block;
}
/*endregion*/

/*region user profile*/
.profile_container{

    padding:10px;
    width:90%;
    min-width:350px;
    display:inline-block;
}

.profile_image_container{

    width:40%;
    min-width:350px;
    margin:5px;
    float:left;
    display:inline-block;
    object-fit:cover;
    text-align:center;
    background-color:ghostwhite;
}

.profile_data_container{
    width:50%;
    min-width:350px;
    display:inline-block;
    float:left;
    padding:5px;
}

.profile_row{
    width:100%;
    padding:5px;
    display:inline-block;
}

button.profile_edit_button {
    width: 100%;
    height: 40px;
    color: white;
    background-color: green;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button.profile_edit_button:hover {
   opacity:0.8
}
.profile_label{
    font-size:20px;
    font-weight:bold;
}

.profile_data_unit {
    font-size: 20px;
}
/*endregion*/

/*region admin profile*/
.events_container{
    display:inline-block;
    width: 100%;
}

button.event_edit_button {
    width: 100%;
    height: 30px;
    color: white;
    background-color: blue;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.event_approve_button {
    width: 100%;
    height: 30px;
    color: white;
    background-color: green;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button.user_block_button {
    width: 100%;
    height: 30px;
    color: white;
    background-color: red;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.status_good{
    border:4px solid green;
}

.status_bad {
    border: 4px solid red;
}
/*endregion*/

/*region buyer profile*/
.ticket_id_container {
    display: inline-block;
    height: 30px;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*endregion*/
.left{
    float:left;
}
.right{
    float:right;
}
.center{
    text-align:center;
}

.pointer{
    cursor:pointer;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}
